<h2>User Help</h2>
<h4>Cumstomers</h4>
<p>&nbsp;&nbsp;&nbsp;Customers are allow to browse any products and add them to their shopping cart, but customers have to login in before they and make an order
If he/she hasn't an account yet, he/she should register an account in advance in the register page.</p><br />

<h4>Sellers</h4>
<p>&nbsp;&nbsp;&nbsp;Seller wants to manage their business must login in the system first. If he/she hasn't an account yet, he/she would have to register an account first in the register page.</p><br />

