/* Category */
.side{
  width: 180px;
  float: left;
  background-color: #E9D5B3;
}

.side h4{
  font-size: 15px;
  margin: 0px;
  color: #066;
  font-weight: bold;
  margin-bottom: 10px;
 /* border-bottom: 3px dotted #7777DD;  */
  margin-top: 15px; 
  height: 18px; 
  width: 180px;
  text-align: center;
}

.cate {
  float: left;
  padding-bottom: 10px;
  width: 180px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: url(../images/bottom.gif) no-repeat  right bottom;
  color: #fff;
  
}

.cate div {
  background: url(../images/title1.gif) repeat-x;
  overflow: hidden;
}
.cate div:first-child {
  background: url(../images/toptitle.gif) no-repeat;
}

.collapsed {
  height: 25px;
}

.cate div span {
  display: block;
  padding: 5px 25px;
  font-weight: bold;
  color: white;
  background: url(../images/expanded.gif) no-repeat 10px center;
  cursor: default;
  border-bottom: 1px solid #ddd;
}

.cate div.collapsed span {
  background-image: url(collapsed.gif);
}

.cate div a {
  padding: 5px 10px;
  background: #eee;
  display: block;
  border-bottom: 1px solid #ddd;
  color: #066;
  background-color: #E9D5B3;
}

.cate div a:hover {
  background : #5B9E95 url(linkarrow.gif) no-repeat right center;
  color: #fff;
  text-decoration: none;
}
