#product {
	margin-top: 25px;
	
}

#product h1{
	border-bottom: 3px dotted #7777DD;
    color: #222266;
    font: 200% sans-serif;
    margin-left:0px;
}
#product img {
	float: left;
	width: 200px;
	height: 280px;
	margin-left:25px;
}

#product p {
	margin-left: 265px;
	font-size: 15px;
}

#product a {
	font-size: 13px;
	float: right;
	margin-left: 20px;
}

#product .entry{
	margin-top: 40px; 
	height: 100px;
}

#product .list_comment {
	float: left;
	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: 25px;
	border: 2px solid 	#FFFFCE;
}

#product .each_comment {
	margin-top: 3px;
	float: left;
}

#product .list_comment p{
	margin-bottom: 5px; 
	margin-top: 0px;
	margin-left: 0px;
}

#product .user{
	background: #E8FFC4;
	font-size: 12px;
	width: 110px;
	text-align: left;
}

#product .list_comment th{
	background: #E8FFC4;
	font-size: 12px;
	padding-right: 25px;
	text-align: left;
}



#product .list_comment td{
	font-size: 12px;

}